@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
  font-family: 'Public Sans', sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
}


.intro-img {
  background: url('./images/bg-intro-mobile.svg');
  background-size: cover;
  background-position: top right;
  min-height: 25rem;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .intro-section {
    align-items: center;
    height: 75vh;

  }

  .intro-img {
    background: url('./images/bg-intro-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .intro-img {
    width: 60%;
    height: 58rem;
    overflow-y: hidden;
  }

  .intro-img img {
    height: 48rem;

  }

  .intro-body {
    width: 30%;
  } 
}

/* - Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700 */